/* Commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
 --header-text-color: white;
 --main-text-color: black;
 --main-text-lightcolor: white;
 --footer-text-color: cornflowerblue;
 --bg-color-gray: rgb(243, 227, 227);
 --button-lightcolor: white;
 --button-darkcolor: black;
 --button-bg-lightcolor: white;
 --button-bg-darkcolor: rgba(0, 0, 0, 0.76);


}

/* Utility */

.row::after {
    content: "";
    display: table;
    clear: both;
}

.lighter {
    background-color: var(--button-bg-lightcolor);
    color: var(--button-darkcolor);
}

.darker {
    background-color: var(--button-bg-darkcolor);
    color: var(--button-lightcolor);
}

.bg_lightgray {
    background-color: var(--bg-color-gray);
}

/*.bg_bottom_waves {
     background-image: url("./../img/wave.svg");
    background-position: bottom;
    width: 100%;
    height: 200px;
    color: lightgray;
}     */


/**********
 Header
 **********/
#site_header {
    height: 33%;
    background-image: url("./../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.header_container {
    width: 1000px;
    height: 100%;
   /*  background-color: bisque; */
    margin: 0 auto;
}

#site_menu {
    height: 60px;
   /*  background-color: blueviolet; */
}

.jumbo_text {
    height: 300px;
    width: 700px;
    margin: 5rem auto;
    text-align: center;
  /*   background-color: brown; */
}

/* Navigation menu */

.brand_logo {
    margin-top: 5px;
}

.brand_logo,.access {
  /*   background-color: aquamarine; */
    width: 15%;
    height: 100%;
    float: left;
}

.top_menu {
   /*  background-color: crimson; */
    width: 70%;
    height: 100%;
    float: left;  
    text-align: center;
    line-height: 30px; 
}

.menu_buttons > a {
    text-decoration: none;
    margin-left: 2rem;
    color: var(--header-text-color) ;
    vertical-align: middle;
    font-size: 13px;
}

#access_button {
    background-color: white;
    border-radius: 20px;
    border: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: 300;
    margin: 0.5rem 2rem;
    cursor: pointer;
}

/* Jumbo text */

.jumbo_text > h1 {
    color: white;
    font-size: 40px;
    word-spacing: 5px;
    margin-bottom: 1rem;
}

.jumbo_text > p {
    color: white;
    font-size: 15px;
    word-spacing: 5px;
    margin: 1rem 0;
}

.jumbo_text > button {
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    margin: 0.5rem 1rem;
    cursor: pointer;
}



/**********
 Main
 **********/
 #site_main {
    height: 2800px;
  /*   background-color: red; */
}

.container {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}

.main_image {
    float: left;
    position: relative;
    height: 600px;
    width: 75%;
}

div > .box_image {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
}

.box_image > img {
    width: 100%;
    height: 100%;

}

div > .box_image_invert {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    right: 0;
}

.box_image_invert > img {
    width: 100%;
    height: 100%;
}




.main_content {
    float: left;
    position: relative;
    height: 600px;
    width: 25%;
}

div > .box_content {
    position: absolute;
    top: 7rem;
    right: 0;
} 

.box_content > p {
    margin: 1rem 0 ;
}


#main_bottom_container {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

#main_bottom_container > h2 {
    color: var(--main-text-color);
    margin: 2rem 0;
    font-size: 30px;
}

#main_bottom_container > p {
    color: var(--main-text-color);
    margin-bottom: 2rem;
    font-size: 15px;
}

.bg_stars {
    background-image: url("./../img/stars.svg");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: top;
    line-height: 30px;
}

#call_to_action h4 {
    font-weight: 700;
    font-size: 15px;
    height: 30px;
    vertical-align: bottom;
    margin-bottom: 1rem;
}

.button_cta {
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    margin: 0.5rem 1rem;
    cursor: pointer;
    background-color: rgb(186, 132, 223);
    color: white;

}




/**********
 Footer
 **********/
 #site_footer {
    height: 33%;
    background-color: darkslategray;
}